.border {
    border: solid 4px #000;
}

tr td {
    border: solid 4px #000;
    width: 50px;
    height: 50px;
}

.back_red {
    background-color: red;
}

.back_blue {
    background-color: blue;
}

.back_yellow {
    background-color: yellow;
}

.hidden {
    display: none;
}